# Python
.venv/
__pycache__/
*.pyc
*.pyo

# Data and models 
#data/
models/
*.joblib

# SLURM logs
slurm/output/
# slurm/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/
# To share workspace settings with collaborators, you can later commit:
# !.vscode/settings.json
